<div class="row">
    <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
        {{#if session.isAuthenticated}}
            <br>
            <br>
            <br>
            <br>
            <h5 class="text-center">Вы вошли под именем <strong>{{session.currentUser.email}}</strong></h5>
        {{else}}
            <form class="form-signin" {{action 'submit' on='submit'}}>
                <h2 class="form-signin-heading">Авторизация</h2>
                <div class="form-group {{if errors.username 'has-error'}}">
                    {{input placeholder='Электропочта' class='form-control login-email' value=user.email focus-out='validateUsername'}}
                    {{#if errors.username}}
                        {{#each errors.username as |error|}}
                            <span class="help-block">{{error.message}}</span>
                        {{/each}}
                    {{/if}}
                </div>

                <div class="form-group {{if errors.password 'has-error'}}">
                    {{input type='password' placeholder='Пароль' class='form-control login-password' value=user.password focus-out='validatePassword'}}
                    {{#if errors.password}}
                        {{#each errors.password as |error|}}
                            <span class="help-block">{{error.message}}</span>
                        {{/each}}
                    {{/if}}
                </div>
                {{#if errors.auth}}
                    <div class="alert alert-danger" role="alert">
                        {{#each errors.auth as |error|}}
                            <span>{{error.message}}</span>
                        {{/each}}
                    </div>
                {{/if}}
                <button class="btn btn-lg btn-primary btn-block" type="submit" {{bind-attr disabled=sending}}>Войти</button>
            </form>
        {{/if}}
    </div>
</div>
