<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Включить навигацию</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' class='navbar-brand'}}Smart Money{{/link-to}}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Главная</a></li>
            </ul>
            {{#if session.isAuthenticated}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session.currentUser.email}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" {{action 'logout'}}>Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            {{/if}}
        </div>
    </div>
</nav>
