@import "bootstrap";

$body-bg: #eee;

body {
    background-color: $body-bg;
}

.form-signin {
    width: 90%;
    margin: 120px auto 0;

    .form-signin-heading {
        margin-bottom: 10px;
        text-align: center;
    }

    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
          box-sizing: border-box;
        padding: 10px;
        font-size: 16px;

        &:focus {
            z-index: 2;
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    .login-email {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .login-password {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
